## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [ ]:
x = pow(7,4)
print(x)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
string = "Hi there Sam!"
splt = string.split()
print(splt)

In [ ]:
string = "Hi there Dad!"
splt = string.split()
print(splt)

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742

In [ ]:
print("The diameter of {} is {} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
print(1st[3][1][2][0])

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
print(d['k1'][3]['tricky'][3]['target'][3])

'hello'

** What is the main difference between a tuple and a list? **

In [ ]:
"list are mutable, have many built-in methods are available and tuples are immutable,doesn't have many built in methods"

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
def domainGet(email):
  print("Your domain is: "+ email.split('@')[-1])
  email = input("Please enter your email")
  domainGet(email)

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [ ]:
def findDog(st):
 if 'pig' in st.lower():
   print("True")
 else:
     print("False")
st = input("Please key a string: >")
findDog(st)

Please key a string: >cat
False

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [ ]:
string = input(" enter your string: ")
def countdogs(string):
  count = 0
for word in string.lower().split():
  if word == 'dog' or word == 'dogs':
    count =+ 1
    print(count)
    countdogs(string)

 enter your string: cat dog
1

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [ ]:
caught_speeding(100,False)

'Big Ticket'

In [ ]:
caught_speeding(79,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [ ]:
import itertools
Emp=["Smith", "John", "Alex", "Alice", "Bob"]
totalsalary=0
salary= [300,55,999,123,777]
for (Emp,salary) in zip(Emp, salary):
  totalsalary += salary
  print("The salary Expenditure for Employess: ",totalsalary)

The salary Expenditure for Employess:  300
The salary Expenditure for Employess:  355
The salary Expenditure for Employess:  1354
The salary Expenditure for Employess:  1477
The salary Expenditure for Employess:  2254

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [ ]:
dict1 = {"EmpId1" : 44, "EmpName" : "rose", "Basicpay" : 1000}
dict2 = {"DeptName" : "Sales", "DeptId" : 77}

print("The dictionary 1 is : " + str(dict1))
print("The dictionary 2 is : " + str(dict2))
d3 = {**dict1 , **dict2}
print("The combined Dictionary is:",d3)

The dictionary 1 is : {'EmpId1': 44, 'EmpName': 'rose', 'Basicpay': 1000}
The dictionary 2 is : {'DeptName': 'Sales', 'DeptId': 77}
The combined Dictionary is: {'EmpId1': 44, 'EmpName': 'rose', 'Basicpay': 1000, 'DeptName': 'Sales', 'DeptId': 77}